[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dateutil = "*"
pytz = ">=2018.9"
twitch-python = ">=0.0.11"

[dev-packages]
wheel = "*"
twine = "*"

[requires]
python_version = "3.7"
