[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "2.27.1"
python-dateutil = "2.8.2"
pytz = "2022.1"
twitch-python = "0.0.20"
twine = "*"

[dev-packages]
wheel = "0.37.1"
twine = "4.0.0"

[requires]
python_version = "3.10"
